In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')



### Table of Contents

1.  <a href='#section 1'>Ice Cream Flavors </a>
    
2. <a href='#section 2'> NBA salaries </a>

2. <a href='#section 3'> Extra Practice </a>

## 1. Ice Cream Flavors <a id='section 1'></a>

Data scientists often need to classify individuals into groups according to shared features, and then identify some characteristics of the groups. Let's start with a table of ice cream flavors.

In [ ]:
cones = Table().with_columns(
    'Flavor', make_array('strawberry', 'chocolate', 'chocolate', 'strawberry', 'chocolate'),
    'Price', make_array(3.55, 4.75, 6.55, 5.25, 5.25)
)
cones # RUN THIS CELL

What if we wanted to count the total number of each flavor?
The group method with a single argument counts the number of rows for each category in a column. The result contains one row per unique value in the grouped column.

In [ ]:
cones.group('Flavor') # RUN THIS CELL

But what if we wanted the total price of the cones of each different flavor? That's where the second argument of group comes in.

The optional second argument of group names the function that will be used to aggregate values in other columns for all of those rows. For instance, sum will sum up the prices in all rows that match each category. This result also contains one row per unique value in the grouped column, but it has the same number of columns as the original table.

In [ ]:
cones.group('Flavor', sum)

To create this new table, group has calculated the sum of the Price entries in all the rows corresponding to each distinct flavor. The prices in the three chocolate rows add up to  16.55. The prices in the two strawberry rows have a total of  8.80.

You can replace sum by any other functions that work on arrays.

<div class="alert alert-warning">
<b> Question 1</b>: Use grouping to find the highest price in each flavor category.

In [ ]:
... ## YOUR CODE HERE

<div class="alert alert-warning">
<b> Question 2</b>: Use grouping to find the lowest price in each flavor category.

In [ ]:
... ## YOUR CODE HERE

## 2. NBA Salaries <a id='section 2'></a>

Let's look at some data about NBA players. Salaries are measured in millions of dollars.

In [ ]:
nba1 = Table.read_table('nba_salaries.csv')
nba = nba1.relabeled("2015-2016 SALARY", 'SALARY')
nba

<div class="alert alert-warning">
<b> Question 1: </b> How much money did each team pay for its players' salaries?
    Hint: Think about which columns you need, then which function you want to group with.

In [ ]:
#YOUR CODE HERE
teams_and_money = nba.select(..., ...)
teams_and_money.group(..., ...)

<div class="alert alert-warning">
<b> Question 2: </b> How many NBA players were there in each of the five positions?

In [ ]:
... ## YOUR CODE HERE

<div class="alert alert-warning">
<b> Question 3: </b> What was the average salary of the players at each of the five positions?

In [ ]:
positions_and_money = nba.select(..., ...)
positions_and_money.group(..., ...)

If we had not selected the two columns as our first step, group would not attempt to "average" the categorical columns in nba. (It is impossible to average two strings like "Atlanta Hawks" and "Boston Celtics".) It performs arithmetic only on numerical columns and leaves the rest blank. 

Run the cell below to see what happens in this case.

In [ ]:
nba.group('POSITION', np.mean) ## RUN THIS CELL

## 3. Extra Practice <a id='section 3'></a>

<div class="alert alert-warning">
<b> Question 1: </b> Find the highest player salary for each team, then sort the teams in order of highest player salaries.
    
    Hint: think about which columns you need, what you would group by, and finally what you would sort by.

In [ ]:
## YOUR CODE HERE
...

---

## Bibliography

- Data 8 Textbook - Classifying by One Variable: https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html

---
Notebook developed by: 

Data Science Modules: http://data.berkeley.edu/education/modules