# Tuesday - EPA

In [2]:
# RUN THIS CELL or the notebook will not work properly
from datascience import *
import numpy as np

### Mapping
A really cool part of data science is the ability to utilize maps to visualize 
We made a map of Alameda County using Environmental Protection Agencyâ€™s EJView website: https://ejscreen.epa.gov/mapper/

#### Interpreting the map
The darker part of the map have higher minority populations according to the 2010 Census. Toxic chemical releases and waste management activities are recorded and inputted into a database (a description can be found here: https://geopub.epa.gov/arcgis/rest/services/EMEF/efpoints/MapServer/1). 

The light blue squares represent the toxic release inventory (TRI) data provided by the EPA. 

**What are some things you notice about the map and the location of the blue squares?**

YOUR ANSWER HERE


**Alameda County Map**
![Map1](map.png)

|Column    | Definition|
|---------------|-------------------|
| zipcode       | The zip code of the industrial facility (Integer)                                                             
| releases      | Toxicity-weighted pounds of chemicals released to air or water from all TRI facilities within a one kilometer radius of the zip code (Integer)|
| below_poverty | Number of people below the poverty line (Integer)|
| above_poverty | Number of people above the poverty line (Integer)|

In [3]:
# read in data
data = Table.read_table('data/TRI_data.csv')
data

zipcode | releases  | below_poverty | above_poverty
94509   | 1413711   | 23415         | 39024
94518   | 56366     | 5864          | 20914
94520   | 59481     | 16520         | 20688
94525   | 21304051  | 691           | 2436
94547   | 501841    | 2987          | 21105
94553   | 246758929 | 10213         | 36852
94561   | 94268     | 9640          | 26875
94565   | 16758112  | 34872         | 49769
94572   | 175500572 | 2614          | 6070
94801   | 121104930 | 15109         | 14286
... (2 rows omitted)

Citations: E-157AC module developed by Wendy Hua, Karla Palos Castellanos, Jinsu Elhance, Professor: Khalid Kadir

https://github.com/ds-modules/E-157AC