Adapted from Data 8 Spring 2020 lab03 and hw02

# Table Practice
---

### Topics Covered
- Creating Tables
- Accessing Columns and Column Artihmetic
- Table Methods: `with_columns`, `column`, `item`

## **Table of contents:**

1 - Creating Tables 

    a) Fruits Example

2 - Accessing Columns

3 -  Column Arithmetic

### **Learning objectives:**
- In this notebook, you will learn how to create tables from scratch.

In [ ]:
import numpy as np
from datascience import *

### Creating Tables using `with_columns`

Tables allow us to compare items across rows, while arrays represent individual columns. We can organize arrays into tables to make comparisons easier. Let's breakdown the first example:

- It creates an empty table using the expression `Table()`,
- adds two columns by calling `with_columns` with four arguments (separated by commas),
- assigns the result to the name `fruits`, and finally
- evaluates `fruits` so that we can see the table.

The strings `"fruit names"` and `"count"` are column labels that we have chosen. The names `fruit_names` and `count` were assigned to two arrays of the **same length**. The function `with_columns` takes in alternating strings (to represent column labels) and arrays (representing the data in those columns).

In [ ]:
fruit_names = make_array("apple","orange", "pineapple")
count = make_array(4, 3, 3)

In [ ]:
fruits = Table().with_columns(
    "fruit names", fruit_names,
    "count", count)
fruits

<div class="alert alert-block alert-warning">
<b>Question:</b> We can add more to this table by referencing an existing table where we used `Table()` above. Let's add a column named `"price"` using the `prices_array` below. Name the new table `fruits_price`.
</div>

In [ ]:
# Notice the array has 3 items in it, which is the same length as the number of 
# rows in the fruits table.
prices_array = make_array(0.79, 1.10, 1.59)
prices_array

In [ ]:
fruits_price = fruits.with_column(
    "...", ...)
fruits_price

We can also add columns to a table, by inserting the array within `with_columns`. 
<div class="alert alert-block alert-warning">
<b>Question:</b> Fill in the missing code, so that the table called `fruit_availability` has 4 columns. Here is the order of the columns: "fruit_names", "count", "price", and "available". The column "available" represents whether the fruit is available at Store X.  
</div>

In [ ]:
fruit_availability = ...with_columns(
    "...", make_array(True, False, True)) 
fruit_availability

<div class="alert alert-block alert-warning">
<b>Question:</b> We can perform other operations on the new table. Sort the prices from least expensive to most expensive, and call the resulting table sorted_fruits.
</div>

In [ ]:
sorted_fruits = fruit_availability...
sorted_fruits

### Accessing columns with `column`

`column` takes the column name of a table and returns the values in that column as an **array**.

Like the example above, we can get the `available` column from the `fruit_availability` table. See the code below. It extracts the `available` column from the `fruit_availability` table as an array and gives it the name `availability_array`.

In [ ]:
availability_array = fruit_availability.column("available")
availability_array

Extracting columns from tables is useful, because it allows us to perform calculations on columns in our tables.

<div class="alert alert-block alert-warning">
    <b>Question:</b> Assuming all fruits are available in Store Y, we want to buy one of each fruit. How much will this cost us? Use the `fruits_price` table and not the `prices_array`. Assign the sum to the name `total_cost`.
</div>

In [ ]:
total_cost = ...(fruits_price...("price"))
total_cost

### Column Arithmetic

You perform an arithmetic operation (like subtraction, division, etc) on an array, Python will do the operation to every element of the array individually and return an array of all of the results. For example, say there was a new tax on fruit of 40 cents. We can add to the array of values.

In [ ]:
new_prices = fruit_availability.column("price") + 0.40
new_prices

<div class="alert alert-block alert-warning">
    <b>Question:</b> Store X just received a new shipment of fruit and has doubled the amount of each fruit. Create an array called `new count`, which has double the number of fruits from `count`. First, get the array from the fruit_availability table, then multiply by 2.
</div>

In [ ]:
new_count = fruit_availability...("...") * 2
new_count

<div class="alert alert-block alert-warning">
    <b>Question:</b> Let's add this array to the fruit_availability table. Add the column using `with_columns` and call it "new count". Call this new table `updated_fruits`.
</div>

In [ ]:
... = fruit_availability...(
    "...", new_count)
updated_fruits

<div class="alert alert-block alert-warning">
    <b>Question:</b> For the final table, we only want 3 columns: "fruit names", "new counts", "price". Use the `select` function on `updated_fruits` to create the table `final_fruits`. Then, sort prices in descending order (largest to smallest).
</div>

In [ ]:
final_fruits = updated_fruits...("...", "new count", "...").sort("...", descending = ...)
final_fruits