# Census Data

## Table of Contents
<a href='#section 0'>Background Knowledge: What is the Census?</a>

1.  <a href='#section 1'> Why is the Census important?</a>

    a. <a href='#subsection 1a'>Formulating a question or problem</a> 

    b. <a href='#subsection 1b'>Looking at the data</a>
    </a>
<br><br>

### What is the Census?  <a id='section 0'></a>

The U.S Census Bureau is a government agency founded in 1902 and is responsible for collecting and maintaining data regarding the American people and economy. The 2020 Census will count every person in the United States and the 5 territories. The Constitution mandates the country counts the population every 10 years.

More information can be found https://2020census.gov/en/what-is-2020-census.html

<div class="alert alert-warning">
<b>Question:</b> Who is included in the census?
   </div>

[Insert answer here]

<div class="alert alert-warning">
<b>Question:</b> Take a few minutes to look up some information about the Census. Provide 3 things you found interesting and the link in which you found them.
   </div>

[Insert answer here]

### Why is the Census important?

<div class="alert alert-warning">
<b>Question:</b> The Census informs lawmakers and other officials make decisions and allocate resources. What are some of the resources/decisions the Census informs?
   </div>

[Insert answer here]

### Formulating a question or problem  <a id='subsection 1a'></a>

<div class="alert alert-warning">
<b>Question:</b> From the preliminary research, think of a few questions you would ask.
   </div>

1. 

2. 

3.

### Looking at the data  <a id='subsection 1b'></a>

In [1]:
from datascience import *
import numpy as np
path_data = '../../../../data/'
np.set_printoptions(threshold=50)

# As of Jan 2017, this census file is online here: 
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
full_census_table

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014 | POPESTIMATE2015
0    | 0    | 3944153       | 3944160           | 3951330         | 3963087         | 3926540         | 3931141         | 3949775         | 3978038
0    | 1    | 3978070       | 3978090           | 3957888         | 3966551         | 3977939         | 3942872         | 3949776         | 3968564
0    | 2    | 4096929       | 4096939           | 4090862         | 3971565         | 3980095         | 3992720         | 3959664         | 3966583
0    | 3    | 4119040       | 4119051           | 4111920         | 4102470         | 3983157         | 3992734         | 4007079         | 3974061
0    | 4    | 4063170       | 4063186           | 4077551         | 4122294         | 4112849         | 3994449         | 4005716         | 4020035
0    | 5    | 4056858       | 4056872           | 4064653         | 4087709         | 4132242         | 4123626         | 4006900         | 4018158
0    | 6    | 4066381       | 4066412           | 4073013         | 4074993         | 4097605         | 4142916         | 4135930         | 4019207
0    | 7    | 4030579       | 4030594           | 4043046         | 4083225         | 4084913         | 4108349         | 4155326         | 4148360
0    | 8    | 4046486       | 4046497           | 4025604         | 4053203         | 4093177         | 4095711         | 4120903         | 4167887
0    | 9    | 4148353       | 4148369           | 4125415         | 4035710         | 4063152         | 4104072         | 4108349         | 4133564
... (296 rows omitted)

<div class="alert alert-warning">
<b>Question:</b> What do you notice about the column names? What does the 0 stand for in the 'SEX' column?
   </div>

[Insert answer here]

Only the first 10 rows of the table are displayed. Later we will see how to display the entire table; however, this is typically not useful with large tables.

A [description of the table](http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.pdf) appears online. The `SEX` column contains numeric codes: `0` stands for the total, `1` for male, and `2` for female. The `AGE` column contains ages in completed years, but the special value `999` is a sum of the total population. The rest of the columns contain estimates of the US population.

In [2]:
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
partial_census_table

SEX  | AGE  | POPESTIMATE2010 | POPESTIMATE2014
0    | 0    | 3951330         | 3949775
0    | 1    | 3957888         | 3949776
0    | 2    | 4090862         | 3959664
0    | 3    | 4111920         | 4007079
0    | 4    | 4077551         | 4005716
0    | 5    | 4064653         | 4006900
0    | 6    | 4073013         | 4135930
0    | 7    | 4043046         | 4155326
0    | 8    | 4025604         | 4120903
0    | 9    | 4125415         | 4108349
... (296 rows omitted)