### Table of Contents

1.  <a href='#section 1'>Lists</a>

    a. <a href='#subsection 1a'> What is a list?</a> 

    b. <a href='#subsection 1b'>Index Practice</a><br><br>
    
2. <a href='#section 2'>Acquiring and cleaning data</a>

    a. <a href='#subsection 1d'>Relabeled</a><br><br>

In [2]:
from datascience import *
import numpy as np

# 1. Lists <a id='section 1'></a>

### What is a list?  <a id='subsection 1a'></a>

A list is a sequence of values (just like an array), but the values can have all different types. The way we know it is a list is by square brackets.

In [10]:
#Here is an example of a list
our_list = [2+3, 'four', 4, "3", 2, Table().with_column('Q', [3, 4])]

#This is an array
our_array = make_array(1, 4, 2, 6)

In [6]:
our_list

In [7]:
our_array

<div class="alert alert-warning">
<b>Question:</b> How many elements are in our_list?
   </div>

In [11]:
elements = ...

### Index Practice <a id='subsection 1b'></a>

The way we access the elements in the list is with brackets. It is important to not that the index starts with 0.

In [9]:
#indexing example
our_list[0]

5

<div class="alert alert-warning">
<b>Question:</b> Access the 3rd element in our_list. What is the data type of this element?
   </div>

In [12]:
third_element = ...

# 2. Acquiring and cleaning data

We looked at the 2010 Census yesterday, now we are going to load it again and go through the process of cleaning. Cleaning data makes it more usable and easier to read. It can include identifying missing values, changing column names, or changing the data types of the elements of a column in order to work with it better

In [14]:
path_data = '../../../../data/'
np.set_printoptions(threshold=50)

# As of Jan 2017, this census file is online here: 
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
full_census_table

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014 | POPESTIMATE2015
0    | 0    | 3944153       | 3944160           | 3951330         | 3963087         | 3926540         | 3931141         | 3949775         | 3978038
0    | 1    | 3978070       | 3978090           | 3957888         | 3966551         | 3977939         | 3942872         | 3949776         | 3968564
0    | 2    | 4096929       | 4096939           | 4090862         | 3971565         | 3980095         | 3992720         | 3959664         | 3966583
0    | 3    | 4119040       | 4119051           | 4111920         | 4102470         | 3983157         | 3992734         | 4007079         | 3974061
0    | 4    | 4063170       | 4063186           | 4077551         | 4122294         | 4112849         | 3994449         | 4005716         | 4020035
0    | 5    | 4056858       | 4056872           | 4064653         | 4087709         | 4132242         | 4123626         | 4006900         | 4018158
0    | 6    | 4066381       | 4066412           | 4073013         | 4074993         | 4097605         | 4142916         | 4135930         | 4019207
0    | 7    | 4030579       | 4030594           | 4043046         | 4083225         | 4084913         | 4108349         | 4155326         | 4148360
0    | 8    | 4046486       | 4046497           | 4025604         | 4053203         | 4093177         | 4095711         | 4120903         | 4167887
0    | 9    | 4148353       | 4148369           | 4125415         | 4035710         | 4063152         | 4104072         | 4108349         | 4133564
... (296 rows omitted)

We selected columns yesterday but also simplify the labels of the selected columns.

In [20]:
#This first line we used yesterday to select specific columns
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
us_pop_relabel = partial_census_table.relabeled('POPESTIMATE2010', '2010')
us_pop_relabel

SEX  | AGE  | 2010    | POPESTIMATE2014
0    | 0    | 3951330 | 3949775
0    | 1    | 3957888 | 3949776
0    | 2    | 4090862 | 3959664
0    | 3    | 4111920 | 4007079
0    | 4    | 4077551 | 4005716
0    | 5    | 4064653 | 4006900
0    | 6    | 4073013 | 4135930
0    | 7    | 4043046 | 4155326
0    | 8    | 4025604 | 4120903
0    | 9    | 4125415 | 4108349
... (296 rows omitted)

We changed the `POPESTIMATE2010` to `2010` in order to make it easier to read and use in future analysis.

<div class="alert alert-warning">
<b>Question:</b> Set us_pop to a table where both columns are relabeled.
   </div>

In [24]:
us_pop = us_pop_relabel....
us_pop

In [22]:
#KEY
us_pop = us_pop_relabel.relabel("POPESTIMATE2014", "2014")
us_pop

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3949775
0    | 1    | 3957888 | 3949776
0    | 2    | 4090862 | 3959664
0    | 3    | 4111920 | 4007079
0    | 4    | 4077551 | 4005716
0    | 5    | 4064653 | 4006900
0    | 6    | 4073013 | 4135930
0    | 7    | 4043046 | 4155326
0    | 8    | 4025604 | 4120903
0    | 9    | 4125415 | 4108349
... (296 rows omitted)

We now have a table that is easy to work with. Each column of the table is an array of the same length, and so columns can be combined using arithmetic. Here is the change in population between 2010 and 2014.