### Table of Contents

1.  <a href='#section 1'>Apply</a>

    a. <a href='#subsection 1a'> What is apply?</a> 
    
    
2. <a href='#section 2'>Defining Functions</a>

    a. <a href='#subsection 2a'>Extra Practice</a><br><br>

In [1]:
from datascience import *
import numpy as np

# 1. Apply <a id='section 1'></a>

Notebook adapted from data 8 spring 2020 materials (lecture 9 and lab 4)

### What is apply?  <a id='subsection 1a'></a>

<img src="images/apply.png" width = 500/>

In [2]:
#This will create a table called ages with the person and their birth year.
ages = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904),
)
ages

Person  | Birth Year
Jim     | 1985
Pam     | 1988
Michael | 1967
Creed   | 1904

# Defining functions <a id='section 2'></a>

<img src="images/define.png" width = 600/>

Image can be found at: https://www.learnbyexample.org/python-functions/

In [3]:
def cap_at_1980(x):
    return min(x, 1980)

<div class="alert alert-warning">
<b>Question:</b> Which part of this function is the "name" according to the image above?
   </div>

*Insert answer here*

In [6]:
#This function returns the minimum of the number that is lesser between 1980 and the number in parentheses.
cap_at_1980(1975)

1975

In [7]:
cap_at_1980(1991)

1980

In [8]:
#Now that we have our function, let's use apply to use it on the whole column.
ages.apply(cap_at_1980, 'Birth Year')

array([1980, 1980, 1967, 1904])

In [9]:
#This function will take the column and return the ages of each of the people in the table.
def name_and_age(name, year):
    age = 2020 - year
    return name + ' is ' + str(age)

<div class="alert alert-warning">
<b>Question:</b> Use apply and the function above to get an array of the ages with the names.
   </div>

In [12]:
#Use the function here by replacing the elipses with the column names.
ages.apply(name_and_age, "...", "...")

### Extra Practice <a id='subsection 2a'></a>

In [15]:
#This function will just return the age given the birth year.
def just_age(year):
    age = 2020 - year
    return age

<div class="alert alert-warning">
<b>Question:</b> In the cell below, return an array of just the ages using the function above and assign it to just_ages.
   </div>

In [17]:
just_ages = ages.apply(..., "...")
just_ages

array([ 35,  32,  53, 116])

<div class="alert alert-warning">
<b>Question:</b> Now add this array to the table as a column called "Ages".
   </div>

In [18]:
with_ages = ages.with_column("...", ...)
with_ages

Person  | Birth Year | Ages
Jim     | 1985       | 35
Pam     | 1988       | 32
Michael | 1967       | 53
Creed   | 1904       | 116

Congratulations! Now we know how to use the apply function and create another column using existing data! Defining functions is a big concept so don't worry if it doesn't feel intuitive at first.