In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
# Table.interactive_plots()

In [2]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
us_pop.sort('AGE')

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3949775
1    | 0    | 2018420 | 2020326
2    | 0    | 1932910 | 1929449
0    | 1    | 3957888 | 3949776
1    | 1    | 2020332 | 2018401
2    | 1    | 1937556 | 1931375
0    | 2    | 4090862 | 3959664
1    | 2    | 2088685 | 2023673
2    | 2    | 2002177 | 1935991
0    | 3    | 4111920 | 4007079
... (296 rows omitted)

In [14]:
ages = us_pop.column("AGE")
print("Minimum population by age and sex:", min(ages))
print("Average population by age and sex:", np.average(ages))
print("Maximum population by age and sex:", max(ages))

Minimum population by age and sex: 0
Average population by age and sex: 59.3039215686
Maximum population by age and sex: 999

In [11]:
twenty_ten = us_pop.column("2010")
print("Minimum population by age and sex:", min(twenty_ten))
print("Average population by age and sex:", np.average(twenty_ten))
print("Maximum population by age and sex:", max(twenty_ten))

Minimum population by age and sex: 6104
Average population by age and sex: 4043749.84314
Maximum population by age and sex: 309346863

In [13]:
twenty_fourteen = us_pop.column("2014")
print("Minimum population by age and sex:", min(twenty_fourteen))
print("Average population by age and sex:", np.average(twenty_fourteen))
print("Maximum population by age and sex:", max(twenty_fourteen))

Minimum population by age and sex: 8951
Average population by age and sex: 4168724.19608
Maximum population by age and sex: 318907401